<ion-header>
  <ion-toolbar>
    <ion-title>
      PDF Viewer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" (click)="openPDFBrowserBlank()">Open PDF - InAppBrowser Blank</ion-button>
  <ion-button expand="block" (click)="openPDFBrowserSystem()">Open PDF - InAppBrowser System</ion-button>
  <ion-button expand="block" (click)="openPDFViewer()">Open PDF - Document Viewer</ion-button>
  <ion-button expand="block" (click)="openPDFOpenerLocal()">Open PDF- File Opener Local</ion-button>
  <ion-button expand="block" (click)="openPDFOpenerURL()">Open PDF- File Opener URL</ion-button>
</ion-content>